spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: order-service
              uri: lb://ORDERSERVICE
              predicates:
                - Path=/orders/**
              filters:
                - name: LoggingOrdersFilter
            - id: inventory-service
              uri: lb://INVENTORYSERVICE
              predicates:
                - Path=/inventory/**

            - id: shipping-service
              uri: lb://SHIPPINGSERVICE
              predicates:
                - Path=/shipping/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

server:
  port: 8080